<!DOCTYPE html>

<html>
    <head>

        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>  <caption>AMD : cherche pas qui s'est tu va te faire griller.</caption>
        <h1>Ma liste des choses à faire</h1> 
        <ul>
        <% for(var i=0; i<list.length; i++) 
        { %>
            <li><%= list[i] %><a href="/todo/suprimer/<%=i%>"> <b> ✘suprimer</b></a></li>
        <% } %> 
        </ul>
     <form action="/todo/ajouter/" method="post">
            <p>
                <label for="add">Que dois-je faire ?</label>
                <input type="text" name="add" id="add" autofocus />
                <input type="submit" />
            </p>
    </form>
    </body>
</html>